<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <!-- 
    <h1> {{first}}  {{ last }} </h1> instead of this let's compute full name-->
   <h1> {{ fullName }} </h1>
   <input type="text" v-model='first' placeholder="first name">
   <input type="text" v-model='last' placeholder="last name">

  </div>

  <script>

    


    new Vue({
      // el:'body' or 'html' is not recommended now 
      el: '#app',

      data: {
        first : 'Iswarya',
        last: 'Rajagopal',
        fullName: 'Iswarya Rajagopal'
        
      },

      watch: {
        first: function(first){
          this.fullName = first + " " + this.last;
        },

        last: function(last){
          this.fullName = this.first + " " + last;
        }

      }

      
      
    });
  </script>
</body>
</html>